* {
      font-family: 'Arial',  sans-serif;
      margin: 0;
      box-sizing: border-box;
}
body {
      background-color: lightgray;
}

/* utilities */
:root{
      --button_task: #45ABEA;
      --editorial: #47ADF1;
      --goal: #64C0A9;
      --recruiting: #9C72E4;
      --sales: #B0C926;
      --website: #D863A1;
      --mobile: #F29E33;
      }

/* header */
#site_header {
      background-color: white;
      padding: 10px;
}
.logo {
      height: 40px;
      vertical-align: middle;
}

.title{
      font-size: 2rem;
      padding-left: 10px;
      font-weight: 600;
      height: 40px;
      vertical-align: middle;
}
/* /header */

/* main */

.container {
      width: 80%;
      background-color: white;
      margin: auto;
      margin-top: 40px;
      padding-left: 50px;
      padding-top: 10px;
}

.button {
      padding-bottom: 10px;
      border-bottom: 1px solid lightgray;
}
button {
      border-radius: 5px;
      border: none;
      padding: 5px 10px;
      color: gray;
}

button:hover {
      color: white;
      background-color: var(--button_task);
}

/* /button section */


.container_row {
      padding-top: 20px;
}
#arrow_icon {
      width: 15px;
}

.row {
      margin-top: 10px;
}
.title_row {
      font-weight: 600;
}

.check {
      border: 1px solid green;
      border-radius: 50%;
      display: inline-block;
      text-align: center;
      width: 20px;
      height: 20px;
      font-size: 10px;
      line-height: 15px;
      padding: 2px;
      color: green;
}

.editorial {
      background-color: var(--editorial);
      font-size: 10px;
      padding: 5px 10px;
      color: white;
      border-radius: 10px;
      
}