* {
      font-family: 'Arial',  sans-serif;;
}

.logo {
      height: 40px;
      vertical-align: middle;
}

.title{
      font-size: 2rem;
      padding-left: 10px;
      font-weight: 600;
      height: 40px;
      vertical-align: middle;
}